name: Java CI

on:
  push:
    branches:
      - master
    tags:
      - '*'
  pull_request:
    branches: [ master ]

jobs:
  build:
  
    name: Test on JDK ${{ matrix.jdk_version }} and ${{ matrix.os }}

    runs-on: ${{ matrix.os }}

    continue-on-error: ${{ matrix.experimental }}

    strategy:
      fail-fast: false
      matrix:
        # JDK matrix version
        jdk_version: [ '1.8', '9', '10', '11', '12', '13', '14', '15' ]
        os: [ubuntu-20.04]
        experimental: [false]
        include:
        - os: ubuntu-20.04
          jdk_version: 16
          # Experimental for now due to issues with Gradle when building with JDK 16 : https://github.com/gradle/gradle/issues/13481
          experimental: true
        - os: ubuntu-20.04
          jdk_version: 17-ea
          experimental: true

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK ${{ matrix.jdk_version }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.jdk_version }}
    - uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/wrapper
          ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - name: Build with Gradle
      run: cd buildSrc && ../gradlew build check jacocoTestReport --stacktrace
    - name: Collect code coverage metrics
      run: bash <(curl -s https://codecov.io/bash)


  publishLibrary:
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    needs: build

    runs-on: ubuntu-20.04

    steps:

      - uses: actions/checkout@v2

      - name: Set up JDK 15
        uses: actions/setup-java@v1
        with:
          java-version: 15

      - uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/wrapper
            ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Publish to the Gradle Plugins Portal
        run: |
          cd buildSrc && ../gradlew publishPlugins -Pgradle.publish.key="${{ secrets.GRADLE_PLUGINS_PUBLISH_KEY }}" -Pgradle.publish.secret="${{ secrets.GRADLE_PLUGINS_PUBLISH_SECRET }}"
