name: Java CI

on:
  push:
    branches:
      - master
    tags:
      - '*'
  pull_request:
    branches: [ master ]

jobs:
  build:
  
    name: Test on JDK ${{ matrix.jdk_version }}

    runs-on: ubuntu-20.04

    continue-on-error: ${{ matrix.experimental }}

    strategy:
      fail-fast: false
      matrix:
        jdk_version: [ '8', '9', '10', '11', '12', '13', '14', '15', '16' ]
        experimental: [false]
        include:
        - jdk_version: 17-ea
          experimental: true

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK ${{ matrix.jdk_version }}
      uses: actions/setup-java@v2
      with:
        distribution: 'zulu'
        java-version: ${{ matrix.jdk_version }}
        cache: 'gradle'
    - name: Build with Gradle
      run: cd buildSrc && ../gradlew build check jacocoTestReport --stacktrace
    - name: Collect code coverage metrics
      run: bash <(curl -s https://codecov.io/bash)


  publishLibrary:
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    needs: build

    runs-on: ubuntu-20.04

    steps:

      - uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: 16

      - uses: actions/cache@v2.1.6
        with:
          path: |
            ~/.gradle/wrapper
            ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Publish to the Gradle Plugins Portal
        run: |
          cd buildSrc && ../gradlew publishPlugins -Pgradle.publish.key="${{ secrets.GRADLE_PLUGINS_PUBLISH_KEY }}" -Pgradle.publish.secret="${{ secrets.GRADLE_PLUGINS_PUBLISH_SECRET }}"
